<div class="content">
  <div class="header"> 
  <h1>Blood Bank Management System</h1>
</div>
<hr/>
  <nav>
    <a routerLink="home" class="btn btn-outline-light btn-md" role="button"
    routerLinkActive="active">Home</a>
    <a routerLink="register" class="btn btn-outline-light btn-md " role="button"
    routerLinkActive="active">Register</a>
    <a routerLink="request" class="btn btn-outline-light btn-md" role="button"
    routerLinkActive="active">Requestor</a>
    <a routerLink="donar" class="btn btn-outline-light btn-md" role="button"
    routerLinkActive="active">Donar</a>
    <a routerLink="status" class="btn btn-outline-light btn-md" role="button"
    routerLinkActive="active">Status</a>
    <a routerLink="admin" class="btn btn-outline-light btn-md" role="button"
    routerLinkActive="active">Admin</a>
  </nav>
  <router-outlet></router-outlet>
</div>


